@media (min-width: 640px) {
    .header {
        background-color: #333333;
        color: rgb(248, 202, 229);
        font-family: 'Taviraj', serif;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    .containerOne {
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a {
        color: rgb(248, 202, 229);
        font-weight: bold;
        padding-left: 18%;
        font-family: 'Taviraj', serif;
    }

    a:hover { 
        color: rgb(197, 67, 197);
    }

    h2 {
        font-family: 'Taviraj', serif;
        text-align: center;
        padding-top: 30px;
        color: #333333;
    }

    #bio-image {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .aboutOne {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 40px;
        width: 90%;
        font-family: 'Taviraj', serif;
    }

    .aboutTwo {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        padding-bottom: 60px;
    }

    .container {
        background: white;
        width: 80%;
        margin: 80px 10% 60px 10%;
    }

    footer {
        width: 100%;
        background-color: #333333;
        color: white;
        border-top: 20px solid rgb(248, 202, 229);
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .header {
        background-color: #333333;
        color: rgb(248, 202, 229);
        font-family: 'Taviraj', serif;
        margin-top: 0px;
        margin-bottom: 0px;
        float: left;
        width: 30%;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .containerOne {
        background-color: white;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    a {
        color: rgb(248, 202, 229);
        font-weight: bold;
        font-family: 'Taviraj', serif;
        font-size: 20px;
        padding-left: 10%;
    }

    h2 {
        font-family: 'Taviraj', serif;
        font-size: 24px;
        text-align: center;
        padding-top: 20px;
        color: #333333;
    }

    #bio-image {
        width: 50%;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
    }

    .aboutTwo {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        padding-bottom: 40px;
    }
}

@media (min-width: 980px) {
    .header {
        font-size: 28px;
    }

    .containerOne {
        padding-top: 19px;
        padding-bottom: 18px;
    }
    
    a {
        font-size: 24px;
        font-weight: normal;
    }

    h2 {
        font-size: 34px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .aboutOne {
        font-size: 24px;
        margin: auto;
        padding-bottom: 20px;
    }

    .aboutTwo {
        font-size: 24px;
        margin: auto;
        padding-bottom: 80px;
    }

    .container {
        width: 960px;
        margin: 110px auto 90px auto; 
    }
}

body {
    background-image: url(../images/floralfour.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}