@media (max-width:375px) {

    #linkedin {
        padding-left: 40px;
        padding-right: 50px;
    }
    #github {
        padding-left: 40px;
        padding-right: 50px;
    }
    #linkedinLinkStyle {
        color: black;
        font-size: 18px;
        /* margin-left: 30px; */
        padding-left: 50px;
        font-weight: normal;
    }
    #githubLinkStyle {
        color: black;
        font-size: 18px;
        /* margin-left: -30px; */
        padding-left: 50px;
        font-weight: normal;
    }
}

@media (max-width:639px) {

    .contactInfo {
        text-align: center
    }
    
    #linkedinLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -45px;
        font-weight: normal;
    }
    #githubLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -45px;
        font-weight: normal;
    }
    #github {
        padding-bottom: 50px;
    }


    .header {
        background-color: #333333;
        color: rgb(248, 202, 229);
        font-family: 'Taviraj', serif;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    .containerOne {
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a {
        color: rgb(248, 202, 229);
        font-weight: bold;
        padding-left: 10%;
        font-family: 'Taviraj', serif;
    }

    a:hover { 
        color: rgb(197, 67, 197);
    }

    h2 {
        font-family: 'Taviraj', serif;
        text-align: center;
        padding-top: 30px;
        color: #333333;
    }

    #bio-image {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .aboutOne {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 40px;
        width: 90%;
        font-family: 'Taviraj', serif;
    }

    .aboutTwo {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        /* padding-bottom: 40px; */
    }

    .aboutThree {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        padding-bottom: 40px;
    }

    .contact-name {
        padding-top: 20px;
        padding-left: 25px;
    }

    .contact-message {
        padding-left: 25px;
        padding-bottom: 20px;
    }

    .contact-submit {
        font-size: 22px;
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 30px;
    }

    .container {
        background: white;
        width: 80%;
        margin: 50px 10% 50px 10%;
    }

    .containerContact {
        background-color: white;
        width: 80%;
        margin: 50px 10% 50px 10%;
    }

    .containerPortfolio {
        background-color: white;
        width: 80%;
        margin: 50px 10% 50px 10%;
    }

    .port-p {
        text-align: center;
        padding-top: 10px;
    }

    .box-one {
        padding-top: 20px;
        padding-left: 11%;
        padding-right: 11%;
    }

    .box-two {
        padding-top: 20px;
        padding-left: 11%;
        padding-right: 11%;
    }

    .box-three {
        padding-top: 20px;
        padding-left: 11%;
        padding-right: 11%;
    }

    .box-four {
        padding-top: 20px;
        padding-left: 11%;
        padding-right: 11%;
        padding-bottom: 10px;
    }

    /* .box-five {
        padding-top: 20px;
        padding-left: 11%;
        padding-right: 11%;
    } */

    #imageid {
        width: 200px;
        height: 100px;
    }

    footer {
        width: 100%;
        background-color: #333333;
        color: white;
        border-top: 20px solid rgb(248, 202, 229);
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 640px) {

    .contactInfo {
        text-align: center
    }
    
    #linkedinLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -85px;
        font-weight: normal;
    }
    #githubLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -85px;
        font-weight: normal;
    }
    #github {
        padding-bottom: 50px;
    }


    .header {
        background-color: #333333;
        color: rgb(248, 202, 229);
        font-family: 'Taviraj', serif;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    .containerOne {
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    a {
        color: rgb(248, 202, 229);
        font-weight: bold;
        padding-left: 18%;
        font-family: 'Taviraj', serif;
    }

    a:hover { 
        color: rgb(197, 67, 197);
    }

    h2 {
        font-family: 'Taviraj', serif;
        text-align: center;
        padding-top: 30px;
        color: #333333;
    }

    #bio-image {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .aboutOne {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 40px;
        width: 90%;
        font-family: 'Taviraj', serif;
    }

    .aboutTwo {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        /* padding-bottom: 60px; */
    }

    .aboutThree {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        padding-bottom: 60px;
    }

    .contact-name {
        padding-top: 20px;
        padding-left: 50px;
    }

    .contact-message {
        padding-left: 50px;
        padding-bottom: 20px;
    }

    .contact-submit {
        font-size: 22px;
        padding-left: 35%;
        padding-right: 35%;
        padding-bottom: 30px;
    }

    .container {
        background: white;
        width: 80%;
        margin: 80px 10% 60px 10%;
    }

    .containerContact {
        background-color: white;
        width: 80%;
        margin: 50px 10% 50px 10%;
    }

    .containerPortfolio {
        background-color: white;
        width: 80%;
        margin: 50px 10% 50px 10%;
    }

    .port-p {
        text-align: center;
        padding-top: 20px;
        font-size: 22px;
    }

    .box-one {
        padding-top: 20px;
        padding-left: 16%;
        padding-right: 16%;
    }

    .box-two {
        padding-top: 20px;
        padding-left: 16%;
        padding-right: 16%;
    }

    .box-three {
        padding-top: 20px;
        padding-left: 16%;
        padding-right: 16%;
    }

    .box-four {
        padding-top: 20px;
        padding-left: 16%;
        padding-right: 16%;
        padding-bottom: 20px;
    }

    /* .box-five {
        padding-top: 20px;
        padding-left: 16%;
        padding-right: 16%;
    } */

    #imageid {
        width: 350px;
        height: 200px;
    }

    footer {
        width: 100%;
        background-color: #333333;
        color: white;
        border-top: 20px solid rgb(248, 202, 229);
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) {

    .contactInfo {
        text-align: center
    }
    
    #linkedinLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -55px;
        font-weight: normal;
    }
    #githubLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -55px;
        font-weight: normal;
    }
    #github {
        padding-bottom: 50px;
    }

    
    .header {
        background-color: #333333;
        color: rgb(248, 202, 229);
        font-family: 'Taviraj', serif;
        margin-top: 0px;
        margin-bottom: 0px;
        float: left;
        width: 30%;
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .containerOne {
        background-color: white;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    a {
        color: rgb(248, 202, 229);
        font-weight: bold;
        font-family: 'Taviraj', serif;
        font-size: 20px;
        padding-left: 10%;
    }

    h2 {
        font-family: 'Taviraj', serif;
        font-size: 24px;
        text-align: center;
        padding-top: 30px;
        color: #333333;
    }

    #bio-image {
        width: 50%;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
    }

    .aboutTwo {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        /* padding-bottom: 40px; */
    }

    .aboutThree {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        font-family: 'Taviraj', serif;
        padding-bottom: 40px;
    }

    .containerContact {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .containerPortfolio {
        background-color: white;
        width: 80%;
        margin: 80px 10% 70px 10%;
    }
    #WGG {
        padding-left: 15%;
        padding-right: 38%;
    }

    .port-p {
        text-align: center;
        padding-top: 20px;
        font-size: 22px;
    }

    .box-one {
        padding-top: 20px;
        padding-left: 17%;
        padding-right: 17%;
    }

    .box-two {
        padding-top: 20px;
        padding-left: 17%;
        padding-right: 17%;
    }

    .box-three {
        padding-top: 20px;
        padding-left: 17%;
        padding-right: 17%;
    }

    .box-four {
        padding-top: 20px;
        padding-left: 17%;
        padding-right: 17%;
        padding-bottom: 20px;
    }

    /* .box-five {
        padding-top: 20px;
        padding-left: 17%;
        padding-right: 17%;
    } */

    #imageid {
        width: 400px;
        height: 250px;
    }
}

@media (min-width: 980px) {
    .header {
        font-size: 28px;
    }

    .containerOne {
        padding-top: 19px;
        padding-bottom: 18px;
    }
    
    a {
        font-size: 24px;
        font-weight: normal;
    }

    h2 {
        font-size: 34px;
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .aboutOne {
        font-size: 24px;
        margin: auto;
        padding-bottom: 20px;
    }

    .aboutTwo {
        font-size: 24px;
        margin: auto;
        /* padding-bottom: 80px; */
    }

    .aboutThree {
        font-size: 24px;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .contact-submit {
        font-size: 22px;
        padding-left: 40%;
        padding-right: 40%;
        padding-bottom: 30px;
    }

    .container {
        width: 960px;
        margin: 110px auto 90px auto; 
    }

    #WGG {
        padding-left: 24%;
        padding-right: 28%;
    }

    .box-one {
        padding-top: 20px;
        padding-left: 30%;
        padding-right: 30%;
    }

    .box-two {
        padding-top: 20px;
        padding-left: 30%;
        padding-right: 30%;
    }

    .box-three {
        padding-top: 20px;
        padding-left: 30%;
        padding-right: 30%;
    }

    .box-four {
        padding-top: 20px;
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 20px;
    }

    /* .box-five {
        padding-top: 20px;
        padding-left: 30%;
        padding-right: 30%;
    } */

    #imageid {
        width: 400px;
        height: 250px;
    }

    #submit {
        padding-left: 23%;
        padding-right: 23%;
    }

    .contactInfo {
        text-align: center
    }
    
    #linkedinLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -100px;
    }
    #githubLinkStyle {
        color: black;
        font-size: 18px;
        margin-left: -100px;
    }
    #github {
        padding-bottom: 50px;
    }
}

body {
    background-image: url(../images/floralfour.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    font-family: 'Taviraj', serif;
}

/* .contactInfo {
    text-align: center
}

#linkedinLinkStyle {
    color: black;
    font-size: 18px;
    margin-left: -100px;
}
#githubLinkStyle {
    color: black;
    font-size: 18px;
    margin-left: -100px;
}
#github {
    padding-bottom: 50px;
} */